<div class="min-h-screen px-4 py-2" [@listAnimation]="apptDashboard">
  <!-- Title Section -->
  <app-landing></app-landing>

  <div class="flex flex-col sm:flex-row items-center justify-center text-center gap-2 sm:gap-4 py-6">
    <p class="text-xl font-bold tracking-tight text-gray-800 mr-2 mt-3 font-arvo-bold">
      SIMPLE & EASY MEALS FOR
    </p>
    <p class="text-3xl italic text-purple-600 font-drama-regular">
      real, actual, everyday life.
    </p>
  </div>
  <!-- Featured Meals Grid (Top 4) -->
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">
    <app-meal-card *ngFor="let meal of specialMeals | slice : 0 : 4" [meal]="meal"
      [showCategory]="false"></app-meal-card>
  </div>

  <!-- Categories Section -->
  <div class="mt-10">
    <app-categories></app-categories>
  </div>

  <!-- Search + View All Button -->
  <!-- <div class="flex flex-col sm:flex-row items-stretch sm:items-center gap-4 mt-10 w-full max-w-3xl mx-auto">
    <div class="relative w-full">
      <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
        <svg class="h-5 w-5 text-gray-500" fill="currentColor" viewBox="0 0 20 20">
          <path
            fill-rule="evenodd"
            d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
            clip-rule="evenodd"
          />
        </svg>
      </div>
      <input
        type="text"
        [(ngModel)]="searchQuery"
        (input)="onSearch()"
        class="block w-full pl-10 pr-3 py-2 border border-gray-300 rounded-md bg-white placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 sm:text-sm"
        placeholder="Search our recipes"
      />
    </div>

    <div class="w-full sm:w-auto">
      <button
        class="w-full sm:w-auto bg-[#803361] text-white font-bold py-2 px-4 rounded-md shadow hover:bg-[#66294d] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#803361] flex justify-center items-center"
      >
        <svg class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
        </svg>
        <span>VIEW ALL RECIPES</span>
      </button>
    </div>
  </div> -->

  <!-- All Recipes Grid -->
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 py-10">
    <app-meal-card *ngFor="let meal of specialMeals" [meal]="meal" [showCategory]="true"></app-meal-card>
  </div>
</div>